{
	"arrowParens": "always",
	"endOfLine": "lf",
	"experimentalOperatorPosition": "start",
	"jsxSingleQuote": false,
	"objectWrap": "preserve",
	"printWidth": 120,
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 3,
	"trailingComma": "all",
	"useTabs": true
}
